body {
    background-color: #003b59 !important;
}

.logo {
    width: 10%;
    margin: auto;
    padding-top: 2%;
}

.logo img {
    width: 100%;
}

.nav {
    margin: auto;
    width: 50%;
    font-size: 20px;
}

.nav a {
    color: white;
}

.nav-pills {
    justify-content: space-evenly;
    border: 1px solid white;
    display: block;
    margin-top: 2%;
}

.tab-pane {
    width: 80%;
    margin: auto;
}

.table {
    width: 100%;
    background-color: #A7C7E7;
    border: 1px solid white;
    border-collapse: separate;
    border-radius: 25px;
}